[Unit]
Description=Consul server
Wants=network-online.target
After=network-online.target
[Service]
ExecStart= /bin/sh -c "consul agent -server -bootstrap-expect=1 -data-dir=/tmp/consul -node=agent-one -bind=$(/sbin/ifconfig eth1 | grep 'inet addr:' | cut -d: -f2 | awk '{ print $1}') -enable-script-checks=true -config-dir=/etc/consul.d"
Restart=always
RestartSec=10
[Install]
WantedBy=multi-user.target
